<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/nav', {links: links}) %>

    <h1 class="title"><%= title %></h1>

    <table class="table">
        <thead>
            <tr>
                <% attr.forEach(a => { %>
                    <th>
                        <%= a.label %>
                    </th>
                <% }) %>
                <th>Delete/Update</th>
            </tr>
        </thead>

        <tbody>
            <% items.forEach(item => { %>
                <tr>
                    <% attr.forEach(a => { %>
                        <td>
                            <%= item[a.key] ?? '-' %>
                        </td>
                    <% }) %>
                    <td>
                        <form action="/delete" method="post">
                            <button class="delete" name="id" value="<%= item.player_id %>" type="submit">Delete</button>
                        </form>
                        <a class="delete" href="/update/<%= item.player_id %>">Update</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>


</body>
</html>